@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  background-color: #F0E3CA;
  font-family: "Quicksand", sans-serif;;
}

#root{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 6px 2px rgba(209, 202, 192, .9);
}

h1{
  font-size: 24px;
  margin-bottom: 20px;
  color: #DC3E3D;
  letter-spacing: 0.3px;
}

.file-input {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  background-color: #fafafa;
  border: 1px solid #e2e2e2;
}
.file-input:hover {
  border-color: #DC3E3D;
}

.file-input input{
  padding: 10px;
  cursor: pointer;
  max-width: 200px;
}

.file-input p {
  font-size: 14px;
  color: #555;
}

.upload-button{
  background-color: #3867A3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
  transition: all 0.2s ease;
}

.upload-button:hover {
  background-color: #DC3E3D;
  transform: translateY(-1px);
}

.transcription-result{
  margin-top: 30px;
  text-align: center;
  color: black;
}

.transcription-result h2{
  font-size: 20px;
  margin-bottom: 10px;
  color: #DC3E3D;
}

.transcription-result p {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
